<!DOCTYPE html>
<html>
  <head>
    <title>El Dorado</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;" id="layout_body">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" id="custom_navbar">
        <div class="container">
            <ul class="nav">
              <li><a href="/" id="new_game"><strong>New Game</strong></a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
      <%= yield %>
  </div>
  </body>
</html>
