<h4>Welcome <%= session[:player_name] %>, place your bet now!</h4>
<%= session[:deck] %>
<%= session[:player_cash] %>
<%= session[:player_name] %>

<form action='/place_bet' method='post'>
  Amount: <input type='number' name='amount'/>
  <br/>
  <input type='submit' class='btn'/>
</form>
