<%if @error %>
<div class="alert alert-error"><%=@error%></div>
<% end %>
<%if @success %>
<div class="alert alert-success"><%=@success%></div>
<% end %>

<h4>Set User Name</h4>

<form action='/set_name' method='post'>
  Name: <input type='text' name='player_name'/>
  <br/>
  <input type='submit' class='btn' value='submit' />
</form>
