<%if @error %>
<div class="alert alert-error"><%=@error%></div>
<% end %>
<%if @success %>
<div class="alert alert-success"><%=@success%></div>
<% end %>

<h4>Welcome to El Dorado!</h4>
<h4>Please Enter Your Name:</h4>
<form action='/set_name' method='post' class="form_custom">
  Name: <input type='text' name='player_name'/>
  <br/>
  <input type='submit' class="btn btn-success" value='Submit' />
</form>
