<h1>Hi there, this is test page!</h1>

<%  %>
<!--ruby code that doesn't print -->
<%= %>
<!--ruby code that prints -->

<% if @my_var %>
<%= "Welcome," + @my_var + "!" %>
<% else %>
Welcome Guest!
<% end %>
